body {
  font-family: Arial;
  background: #f2f5f9;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  height: 80px;
}

button {
  padding: 10px;
  background: #005bac;
  color: white;
  border: none;
}
